body{
    font-family: "Trebuchet MS";
    margin: 0 !important;
    padding: 0 !important;
    color: #ffffff;
    background-color: #c7c7c7;
}

.main_container{
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    background-color: #c7c7c7;
}
.container{
    display:grid;
    background-color: transparent;
    grid-template-columns: 1fr 10em;
    grid-template-rows: 12em auto auto auto;
}
.header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    margin: 2px;
    padding: 1em;
    border-radius: 5px;
    background-image: url(../img/title.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*menu*/
.menu{
    grid-column: 1 / 3;
    grid-row-start: 2;
    grid-row-end: 2;
    position: sticky;
    top: 0;
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
    display:grid;
    grid-template-columns: auto 1fr 8em;
    background-color: #404040;
    margin: 2px;
    border-radius: 5px;
    border-style: groove;
	border-width: 2px;
    border-color: #ffffff;
}
nav {
    grid-column: 1 / 2;
    grid-row: 1;
    max-height: 3.2em;
}

nav ul {
    list-style-type: none;
	margin: auto;
    padding: 0;
    display: flex;
  
}

nav li{
    border-radius: 4px;
    padding: 1em;
    
}

nav a {
    color: white;
    text-decoration: none;
    transition:  color 1s;
    
}

nav a:hover{
    color: #e65c00;
}

.search{
    grid-column: 3 / 4;
    grid-row: 1;
}
/*fim do menu*/
.recent{
    grid-column: 1 / 3;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #404040;
    margin: 2px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.image_recent{
    width: 10em;
    height: 15em;
    border-style: groove;
	border-width: 2px;
	border-color: #ffffff;
    border-radius: 4px;   
    margin: 0.5em;
}
.foot{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: rgb(67, 15, 102);
    color: black;
    text-align: center;
    margin: 2px;
    padding: 1em;
    border-radius: 5px;
}
.top{
    height: 2.5em;
    background-color: #404040;
    margin-bottom: 1em;
}
body > header section{
    float: right;
    margin-top: 0.3em;
    margin-right: 1em;
}
  body > header input{
    border: 1px solid #666;
    padding: 0.4em;
  }
  
  body > header input[type="text"]{
    width: 10em;
    border-radius:6px;
    cursor: text;
  }
  
  body > header input[type="password"]{
    width: 10em;
    border-radius:6px;
    cursor: text;
  }
  
  body > header input[type="submit"]{
    background-color: white;
    color: rgb(14, 13, 13);
    width:7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 1s;
    border-radius: 12px;
    cursor: pointer;
  }

  body > header input:hover[type="submit"] {
      background-color: #0a0a0a;
      color: rgb(253, 252, 252);
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
 /*Página de registro*/
  #register {
    width: 20em;
    margin: 0 auto;
  }
  
  #register form {
    margin: 0;
  }
  
  #register input {
    display: block;
    border: 0;
    margin: 1em;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
  }
  
  #register input[type=submit] {
    background-color: rgb(27, 123, 182);
    color: white;
    border-radius: 2em;
  }
  #register input:hover[type=submit]{
    background-color: #0a0a0a;
    color: rgb(253, 252, 252);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  }

<<<<<<< HEAD
  body > header .username {
    margin: 1em;
  }

  /*Mensagens de erro/sucesso*/
  #messages {
    width: 40em;
  }
  #messages {
    width: 40em;
    margin: 0 auto;
  }
  
  #messages div {
    padding: 1em;  
    margin-top: 1em;
    border-radius: 2em;
  }
  
  #messages .error {
    background-color: #F99;
    color: #333;
  }

  #messages .success {
    background-color: #9F9;
    color: #333;
  }
=======
.filmes{
    grid-column: 1 / 4;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-template-rows: auto;
    grid-template-columns: 35em 0.5em 1fr;
    display: grid;
    margin: 2px;
}

/*lista de filmes existentes na base de dados*/
.list{
    grid-column: 1 / 2;
    grid-row: 1;
    
}

/*filtros*/
.generos{
    background-color: #404040;
    grid-column: 3 / 3;
    grid-row: 1;
    border-radius: 5px;
    padding: 1em;
    overflow: hidden;
    height: 1%;
}

.filme{
    border-radius: 5px;
    padding: 1em;
    overflow: hidden;
    height: 1%;
    background-color: #404040;
}
>>>>>>> a299a9126044018d40e3a20eadd50ca1991efa4b
